
    <h1>je recherche ...</h1>
    <ul>
        <li class="{{ cssMenuVertical['classCSSLienIlot']|default('') }}">
            <a href="{{ path('vae_refgpc_ilot', { 'base': base|default('MP') }) }}" id="lienIlot">
                Ilots
            </a>
        </li>
        <li class="{{ cssMenuVertical['classCSSLienCentre']|default('') }}">
            <a href="{{ path('vae_refgpc_centre', { 'base': base|default('MP') }) }}" id="lienCentre">
                Centres
            </a>
        </li>
    </ul>

                   

                    