Nombre d'îlot : {{ nbIlots }} <br />

<ul>
    {% for ilot in allIlots %}

    <li>{{ ilot.getIloCodeIlot }} - {{ ilot.getTIloCoidcompetence.getCoIdCompetence }}</li>

    {% endfor %}

</ul>
        
        
     